.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 99vh;
} 

.not-found h2 {
    font-size: 25px;
    font-weight: 500;
} 

.not-found p {
    font-weight: 500;
} 

.not-found .back-button {
    margin: 20px;
}